<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/gui_basics/src/eerste_frame_en_paneel/OpstartFrame.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="eerste_frame_en_paneel.OpstartFrame"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="gui_basics"/>
</launchConfiguration>
